.marquee-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.marquee-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  
  --text-color: #2c2c2c;
}

.marquee {
  position: relative;
  color: #FFF;
  display: flex;
}

.marquee.light {
  color: var(--text-color);
}

.marquee .foreground {
  margin: 0 auto;
  min-height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 150px;
}

.marquee .foreground .text {
  width: 100%;
  max-width: 500px;
}

.marquee .foreground .text h1,
.marquee .foreground .text h2 {
  font-size: var(--heading-font-size-l);
}

.marquee .foreground .text p {
  margin: 0;
  font-size: var(--body-font-size-s);
  line-height: var(--body-font-size-m);
}

.marquee .foreground .text .button-container {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 5px 0px;
  text-decoration: none;
}

.marquee .foreground .text .button-container a {
  padding: 5px 14px;
}

.marquee .foreground .text .button-container:hover {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
  text-decoration: none;
}

.marquee .foreground .media video,
.marquee .foreground .media img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 750px;
  object-fit: cover;
}


@media screen and (max-width: 1200px) {
  .marquee .foreground {
    gap: 0px;
    margin: 25px;
  }
}

@media screen and (max-width: 768px) {
  .marquee .foreground {
    gap: 0px;
    margin: 25px;
    margin-top: 0px;
    flex-direction: column;
  }

  .marquee .foreground .text {
    order: 2;
    max-width: 100%;
  }

  .marquee .foreground .media {
    order: 1;
  }
}
