.quote-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.quote-wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
}

.quote {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  min-height: 320px;
}

.quote .summit-quote-left.blue-background {
  background-image: linear-gradient(to bottom right, #0c50d3, #0c50d3),url("/images/blue-background.png");
}

.quote .summit-quote-left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.quote .summit-quote-right.red-background {
  background-image: url('/images/red-background.png');
}

.quote .summit-quote-right {
  position: absolute;
  width: 16%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.quote .summit-quote-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.quote .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
}

.quote .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.quote .quote-element {
  position: relative;
  margin-bottom: 0;
  flex: 0 0 auto;
  width: 100%;
}

.quote .quote-element .quote-text {
  max-width: 335px;
  position: relative;
  font-size: 1.375rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
  margin: 0 0 1rem;
}

.quote .quote-element .quote-author {
  position: relative;
  color: #fff;
}

.quote .quote-image {
  position: relative;
  height: 185px;
  background-size: 80% auto;
  background-position: left center;
  background-repeat: no-repeat;
}

.quote .col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.quote .summit-quote-sliver.green {
  background-image: url('/images/green-background.png');
}

.quote .summit-quote-sliver {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .quote .row {
    margin-left: -30px;
    margin-right: -30px;
  }

  .quote .quote-element .quote-text {
    max-width: 410px;
  }

  .quote .quote-image {
    height: 320px;
  }

  .quote .row > * {
    padding-left: 30px;
    padding-right: 30px;
  }

  .quote .summit-quote-sliver {
    width: 70px;
  }
}


@media  (min-width: 1024px) {
  .quote .summit-quote-left {
    width: 50%;
    background-size: calc(100% - 960px) 100%,960px 100%;
    background-position: left bottom,right bottom;
  }

  .quote .summit-quote-container {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }

  .quote .quote-element {
    padding-right: 30px;
  }

  .quote .quote-element .quote-text {
    font-size: 1.75rem;
  }

  .quote .quote-element .quote-author {
    font-size: 1.125rem;
  }

  .quote .quote-image {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }

  .quote .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .quote .row {
    margin-left: 0;
    margin-right: 0;
  }

  .quote .row > * {
    padding-left: 0;
    padding-right: 0;
  }

  .quote .summit-quote-sliver {
    width: 35px;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .quote .summit-quote-container {
    max-width: 1024px;
  }
}