.speaker-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.speaker-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  background-color: black;
}

.speaker {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 76px;
}

.speaker > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.speaker > ul > li {
  box-sizing: content-box;
  background-color: #2C2C2C;
  box-sizing: border-box;
  transition: all .85s ease-in-out;
}

.speaker > ul > li.text {
  box-sizing: content-box;
  background-color: transparent;
}

.speaker > ul > li.image {
  box-sizing: content-box;
  background-color: transparent;
}

.speaker > ul > li:nth-child(3) {
  grid-column: 3 / 5;
}

.speaker .cards-card-body:has(p) {
  color: var(--dark-background-text-color);
  padding: 20px;
  max-height: 45px;
}

.speaker .cards-card-image {
  position: relative;
  background: linear-gradient(125deg, #ce0d00 0%, #d30383 100%);
  line-height: 0;
}

.speaker .cards-card-body > *:first-child {
  margin-top: 0;
}

.speaker > ul > li img {
  width: 100%;
  object-fit: cover;
}

.speaker .cards-card-image .border-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #ce0d00;
  transform-origin: left center;
  transform: translateY(-6px) scale(0);
}

.speaker .cards-card-image .border-bottom { 
  position: absolute;
  bottom: 6px;
  right: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #d30383;
  transform-origin: center bottom;
  transform: translateY(6px) scale(0);
}

.speaker > ul > li:not(.image):hover .border-left {
  transform: translateY(-6px) scale(1);
  transition-delay: 75ms
}

.speaker > ul > li:not(.image):hover .border-bottom {
  transform: translateY(6px) scale(1);
  transition-delay: 75ms
}

.speaker > ul > li:not(.image):hover img {
  transform: translate(6px, -6px)
}

.speaker > ul > li h1,
.speaker > ul > li h2,
.speaker > ul > li h3,
.speaker > ul > li h4,
.speaker > ul > li h5,
.speaker > ul > li h6 {
  margin: 0;
  font-size: var(--heading-font-size-s);
}

.speaker > ul > li p {
  margin: 0;
  font-size: var(--body-font-size-xs);
}


@media screen and (max-width: 768px) {
  .speaker > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #2C2C2C;
  }

  .speaker > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 81px;
    background-color: black;
  }

  .speaker .cards-card-image {
    width: 81px;
    position: relative;
    background: linear-gradient(125deg, #ce0d00 0%, #d30383 100%);
    line-height: 0;
  }

  .speaker > ul > li.text {
    box-sizing: content-box;
    background-color: transparent;
    order: -1;
    margin-bottom: 50px;
  }

  .speaker > ul > li.text h1,
  .speaker > ul > li.text h2,
  .speaker > ul > li.text h3,
  .speaker > ul > li.text h4,
  .speaker > ul > li.text h5,
  .speaker > ul > li.text h6 {
    margin: 0;
    font-size: var(--heading-font-size-m);
  }

  .speaker > ul > li.text p {
    margin: 0;
    font-size: var(--body-font-size-s);
  }

}