.sponsors-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .sponsors-wrapper {
    max-width: 1024px;
  }
}

.sponsors-container {
  background-color: #f5f5f5;
}

.sponsors .button-container a {
  background-color: #f5f5f5 !important;
  border-radius: 0;
  text-decoration: underline !important;
  color: var(--link-color) !important;
  display: block;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.sponsors div {
  display: block;
  width: 100%;
}

@media (max-width: 1023px) {
  .sponsors .button-container a {
    margin: 0 5px !important;
    padding: 0 !important;
  }


  .sponsors h2 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    max-width: 500px;
  }
}

.sponsors div + div ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sponsors div + div ul li img {
  width: 150px;
  display: list-item;
  text-align: -webkit-match-parent;
}

@media (max-width: 660px) {
  .sponsors div + div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
