.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.pod h2 {
  font-size: 1.75rem;
}

.pod p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.session > div:nth-child(1) p {
  max-width: 320px;
}

.session > div:nth-child(2) p {
  max-width: 320px;
}

.session > div:nth-child(3) p {
  max-width: 320px;
}

.session > div:nth-child(4) p {
  max-width: 320px;
}

.pod > div > div:not(.columns-img-col) {
  padding-top: 10px;
  padding-bottom: 28px;
}

.pod > div > div:not(.columns-img-col) h2 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.pod > div > div:not(.columns-img-col) p {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (min-width: 1023px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .pod > div > div:not(.columns-img-col) * {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 405px;
  }
}
