footer {
  padding: 2rem;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  color: #2c2c2c;
}

footer .footer p {
  margin: 0;
}

footer h3 {
  font-size: 18px;
}

footer .mailing-list-sign-up {
  border-bottom: 1px solid black;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul a:any-link {
  color: var(--text-color);
  text-decoration: none;
}

footer > div > div > div:nth-child(1) {
  display: none;
}

footer > div > div > div:nth-child(1) span {
  display: inline-block;
  width: 15px;
  height: auto;
  padding-right: 5px;
}

footer > div > div > div:nth-child(3) {
  border-bottom: 1px solid dimgray;
  padding-bottom: 30px;
}

footer > div > div > div:nth-child(4) {
  margin-bottom: 40px;
}

footer > div > div > div:nth-child(6) {
  display: inline-block;
  color: dimgray;
  font-size: 11px;
}

footer > div > div > div:nth-child(2) > div {
  padding-bottom: 30px;
}

footer .icon {
  width: 16px;
}

footer > div > div > div:nth-child(4) > h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

footer > div > div > div:nth-child(4) > ul {
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
}

footer > div > div > div:nth-child(4) > ul.expanded {
  height: 100%;
  padding-bottom: 30px;
}


footer > div > div > div:nth-child(4) > h3::after {
  content: "";
  width: 9px;
  height: 9px;
  vertical-align: 2px;
  margin-top: -5px;
  margin-right: 15px;
  border-color: #2c2c2c;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotate(45deg);
  top: 50%;
  right: 0;
  left: auto;
}

footer > div > div > div:nth-child(4) > h3.expanded::after {
  transform: rotate(-135deg);
}

footer > div > div > div:nth-child(6) .icon {
  width: 10px;
  height: 9px;
}

footer > div > div > div:nth-child(6) a:any-link {
  color: dimgray;
}

footer > div > div > div:nth-child(6) > ul > li {
  display: inline-block;
}

footer > div > div > div:nth-child(6) > ul  > li:not(:last-of-type)::after {
  content: " /";
}

footer > div > div > div:nth-child(5) > ul:last-of-type > li {
  display: inline;
  padding-right: 15px;
}

footer .footer ul:last-of-type {
  color: dimgray;
}

@media (min-width: 992px) {
  footer > div > div {
    display: grid;
    grid-template-columns: 65%;
  }

  footer > div > div > div:nth-child(1) {
    display: block;
  }

  footer .mailing-list-sign-up {
    border-bottom: 0;
  }

  footer > div > div > div:nth-child(2) {
    grid-row: 2 / 3;
    padding-left: 50px;
  }

  footer > div > div > div:nth-child(3) {
    grid-row: 2 / 3;
    border-bottom: 0;
  }

  footer > div > div > div:nth-child(4) {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-right: 1px solid #cecece;
  }

  footer > div > div > div:nth-child(4) > h3 {
    grid-row: 1 / 2;
  }

  footer > div > div > div:nth-child(4) > h3::after {
    display: none;

  }

  footer > div > div > div:nth-child(4) > ul {
    height: auto;
    border-bottom: 0;
  }

  footer > div > div > div:nth-child(5) {
    grid-row: 3 / 4;
  }

  footer > div > div > div:nth-child(6) {
    display: flex;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    justify-content: flex-end;
  }

  footer > div > div > div:nth-child(6) > p {
    display: inline;
    padding-right: 15px;
  }

  footer > div > div > div:nth-child(6) > ul {
    display: inline;
  }
}
