.go-deep {
    text-align: center;
    font-size: 18px;
    background-color: #f5f5f5;
}

.go-deep > div:first-child {
    background-color: var(--background-color);
    padding: 30px 20px 0 30px;
}

.go-deep picture {
    display: block;
    box-sizing: border-box;
    height: 470px;
    overflow: hidden;
}

.go-deep picture img {
    box-sizing: border-box;
    height: 100%;
    width: auto;
}

.go-deep div:nth-child(2) {
    padding: 56px 135px 72px;
    background-color: #f5f5f5;
}

.go-deep ul {
    padding: 0;
    margin: 40px 0 0;
    columns: 3;
    column-gap: 73px;
    text-align: left;
    list-style: disc;    
    color: rgb(206 13 0);    
}

.go-deep li {
    padding-bottom: 10px;
    margin-left: 22px;
    line-height: 22px;
}

.go-deep li > span {
    color: #2c2c2c;
}

.go-deep h2 {
  margin-top: 0;
  font-size: 28px;
}



.go-deep :is(p[class="button-container"], a) {
    margin: 0;
}